<div class="">
  <div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{image.url}}">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          {{restaurant.name}}
        </h1>
        <p class="lead">
          {{restaurant.description}}
        </p>
        {{restaurant.location_string}}
        |
        {{restaurant.price}}
        <br />
        <a href="{{restaurant.web_url}}">Website</a>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <section>
    <h2>Reviews</h2>
  </section>

  <form>
    <div class="mb-3">
      <label for="reviewBox" class="form-label">Add your review here!</label>
      <textarea type="text" class="form-control" id="reviewBox" aria-describedby="reviewTextBox"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Add Review!</button>
  </form>
</div>