<div class="">
  <div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{image.url}}">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          {{restaurant.name}}
        </h1>
        <p class="lead">
          {{restaurant.description}}
        </p>
        {{restaurant.location_string}}
        |
        {{restaurant.price}}
        <br />
        <a href="{{restaurant.web_url}}">Website</a>
      </div>
    </div>
  </div>
</div>

<div class="container justify-content-left">

  <section>
    <h2>Reviews</h2>
    {{#each reviews as | review |}}
    <article class="card my-3">
      <div class="card-header flex-row justify-space-between">
        <h2 class="mx-2">Written by {{review.User.username}} on {{format_date review.createdAt}}</h2>
        <h2>Rated: {{review.rating}} stars!</h2>
      </div>
      <div class="card-body">
        {{review.body}}
      </div>
    </article>
    {{/each}}
  </section>

  <form>
    <div class="mb-3">
      <label for="reviewBox" class="form-label">Add your review here!</label>
      <textarea type="text" class="form-control" id="reviewBox" data-id="{{id}}" aria-label="reviewTextBox"></textarea>
      <label class="form-label" for="review-rating">Rating</label>
      <div id="star-rating"></div>
    </div>
    <button type="submit" id="new-review-form" class="btn btn-danger">Add Review!</button>
  </form>
</div>

<script src="/javascript/new.js"></script>