<div class="post" data-id="{{review.id}}">
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>{{review.title}}</h2>
        </div> 
        <div>
            Written by {{review.User.username}} on {{format_date review.createdAt}}
        </div>
        <div>
            {{review.body}}
        </div>
    </article>

    {{#if review.Comments}}
    <section class="card">
        <div class="card-header">
            <h3>Comments</h3>
        </div>
        <div class="card-body">
            {{#each review.Comments}}
            <div>
                <p>
                    {{body}}
                </p>
                <p>
                    &mdash; {{User.username}}, {{format_date createdAt}}
                </p>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}
    <form id="new-comment-form" class="card">
        <div class="card-header">
            <h3>Add Comment</h3>
        </div>
        <div class="card-body">
            <input type="hidden" name="user-id" value="{{user.id}}" />
            <label class="form-label" for="comment-body">Comment</label>
            <textarea name="comment-body" class="form-input"></textarea>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<script src="/javascript/comment.js"></script>
